body {
    font-weight: 400;
    margin: 0;
    background-color: darkgrey;
}

#calculator, #hangman {
    border-style: solid;
    border-width: 10px;
    border-color: lightgrey;
    border-radius: 15px;
    width: 300px;
    margin: auto;
    margin-top: 10%;
    padding: 1.5%;
}

#display {
    background-color: darkgreen;
    border-style: solid;
    border-width: 10px;
    border-radius: 10px;
    border-color: darkgreen;
    font-size: 20px;
    font-weight: 700;
    height: 50px;
    margin: 1%;
    text-justify: center;
}

#buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.button_row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 10px;
    margin-bottom: 10px;
}

.button, .special_btn, #equal_btn {
    text-align: center;
    vertical-align: middle;
    padding: 4%;
    border-style: solid;
    border-width: 6px;
    border-color: black;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    background-color: black;
    color: lightgrey;
    width: 5%;
    font-size: 15px;
    font-weight: 600;
}

.button:hover, .special_btn:hover, #equal_btn:hover {
    border-color: darkgrey;
    font-size: 12px;
}

.special_btn {
    border-color: darkorange;
    background-color: darkorange;
    color: black;
}

#equal_btn {
    width: 44%;
}

#hangman {
    display: none;
    border: none;
    width: 500px;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#hangman_input {
    font-size: 30px;
    font-weight: 600;
    letter-spacing: .5em;
}

#hangman_buttons {
    display: flex;
    flex-direction: row;
    width: 80%;
    justify-content: space-evenly;
    margin-top: 20px;
}

.hangman_button, .hangman_button_disabled {
    background-color: black;
    border-style: solid;
    border-width: 10px;
    border-color: black;
    border-radius: 15px;
    padding: 2px;
    color: lightgrey;
    font-size: 15px;
    margin: 0;
}

.hangman_button_disabled {
    background-color: darkred;
    border-color: darkred;
}

.hangman_button:hover {
    margin-top: 5px;
    border-width: 8px;
    font-size: 13px;
}

.hangman_button_disabled:hover {
    margin-top: 0px;
    border-width: 10px;
    font-size: 15px;
}

#hangman_img {
    width: 50%;
}

#hangman_text, #hangman_subtitle {
    margin-bottom: 10px;
}
